
.icon-lightbulb:before { content: '\e800'; } /* '' */
.icon-briefcase:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-mobile:before { content: '\e803'; } /* '' */
.icon-github:before { content: '\e804'; } /* '' */
.icon-home-outline:before { content: '\e805'; } /* '' */
.icon-adult:before { content: '\e806'; } /* '' */
.icon-male:before { content: '\e807'; } /* '' */
.icon-desktop:before { content: '\e808'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-language:before { content: '\f1ab'; } /* '' */
.icon-soccer-ball:before { content: '\f1e3'; } /* '' */
.icon-birthday:before { content: '\f1fd'; } /* '' */